#include <windows.h>
#include "resource.h"
#include "version.h"

#define STRINGIZE_IMPL(value) #value
#define STRINGIZE(value) STRINGIZE_IMPL(value)

IDI_STAT_WISP ICON "../assets/stat-wisp.ico"
1 RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION STAT_WISP_VERSION_MAJOR,STAT_WISP_VERSION_MINOR,STAT_WISP_VERSION_PATCH,0
 PRODUCTVERSION STAT_WISP_VERSION_MAJOR,STAT_WISP_VERSION_MINOR,STAT_WISP_VERSION_PATCH,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "Lightweight Windows system tray monitor\0"
            VALUE "FileVersion", STAT_WISP_VERSION_STRING "\0"
            VALUE "InternalName", "stat-wisp\0"
            VALUE "OriginalFilename", "stat-wisp.exe\0"
            VALUE "ProductName", "Stat Wisp\0"
            VALUE "ProductVersion", STAT_WISP_VERSION_STRING "\0"
            VALUE "LegalCopyright", "Copyright (c) 2026 grayfvll01\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
